{% extends 'base.html.twig' %}

{% block body %}

<div class="form-profile">

    {% if participant.imageprofil !=null %}
        <img src="{{ asset('uploads/' ~ participant.imageProfil) }}" class="profil-pic" width="250px" alt="Photo de profil de {{ participant.nom }}" loading="lazy">
    {% endif %}
    <div class="participant-info">
        <span>Nom Prénom: {{ participant.prenom }} {{ participant.nom }}</span>
        <span>Adresse mail : {{ participant.email }}</span>
        <span>Téléphone : {{ participant.telephone }}</span>

    </div>
    {% if app.user.id == participant.id %}
    <div class="participant-actions">
        <a href="{{ path('app_profil_delete', {'id': participant.id}) }} " class="profil-bu">Supprimer mon profil</a>
        <a href="{{ path('app_profil_update', {'id': participant.id}) }}" class="profil-bu">Modifier mon profil</a>
    </div>
    {%  endif %}
</div>


{% endblock %}
