{% extends 'base.html.twig' %}

{% block body %}

<div class="form-profile">

    {% if participant.imageprofil !=null %}
        <img src="{{ asset('uploads/' ~ participant.imageProfil) }}" class="profil-pic" width="150px" alt="Photo de profil de {{ participant.nom }}" loading="lazy">
    {% endif %}
    <div class="participant-info">
        <span>Nom Prénom: {{ participant.prenom }} {{ participant.nom }}</span>
        <span>Adresse mail : {{ participant.email }}</span>
        <span>Téléphone : {{ participant.telephone }}</span>
        <span>Site : {{ participant.site }}</span>

    </div>
    {% if app.user.id == participant.id and not is_granted('ROLE_ADMIN') %}
    <div class="participant-actions">
        <button onclick="location.href='{{ path('app_profil_delete', {'token': csrf_token('delete'~app.user.id) }) }}'">Supprimer profil</button>
        <button onclick="location.href='{{ path('app_profil_update', {'token': csrf_token('update'~app.user.id) } ) }}'">Modifier profil</button>
        {%  endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <button onclick="location.href='{{ path('app_profil_delete_admin', {'id': participant.id }) }}'">Supprimer profil</button>

        {% endif %}
        {% if participant.actif and  is_granted('ROLE_ADMIN') and not participant.administrateur %}

        <button onclick="location.href='{{ path('app_profil_ban',  { id: participant.id, _query: { redirect: 'app_profil_details' }})  }}'">Bannir profil</button>
        {% endif %}
        {% if not participant.actif and is_granted('ROLE_ADMIN') and not participant.administrateur %}
            <button onclick="location.href='{{ path('app_profil_unban',  { id: participant.id, _query: { redirect: 'app_profil_details' }})  }}'">Débannir profil</button>
        {% endif %}

    </div>

</div>


{% endblock %}
