{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <div class="table-container" style="z-index: 1;">
        <div class="filter-bar">
            <div class="form filter">
                {{ form(filtreForm) }}
            </div>
        </div>
        {% if sortieList is empty %}
            <p>Pas de sortie</p>
        {% else %}


            <table>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Durée</th>
                    <th>Limite inscription</th>
                    <th>Participants</th>
                    <th>Info</th>
                    <th>État</th>
                    <th>Inscrit</th>
                </tr>
                {% for sortie in sortieList %}

                    <tr onclick="window.location.href = '{{ path('app_sortie_id', { 'id': sortie.id }) }}';">
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("H:i - d/m/y") }}</td>
                        <td>{{ sortie.duree|date("H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/y") }}</td>
                        <td>{{ sortie.participant|length }}/{{ sortie.nbInscriptionMax }}</td>
                        <td class="infos-sortie" title="{{ sortie.infosSortie }}">{{ sortie.infosSortie }}</td>
                        <td>{{ sortie.etat.value }}</td>
                        <td>
                            {% if app.user in sortie.participant %}
                                ✔
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <div style="width: 100%; height: 75vh;">
        {{ ux_map(map, {style: 'height: 75vh; width: 100%; z-index: 0; border-radius:15px;'}) }}
    </div>


    {% endif %}
{% endblock %}
