{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div class="table-container">
    <div class="filter-bar">
        <form method="get" action="{{ path('app_sortie_home') }}">
            <label for="site">Filtrer par site :</label>
            <select name="site" id="site" onchange="this.form.submit()">
                <option value="">-- Tous les sites --</option>
                {% for site in sites %}
                    <option value="{{ site.id }}" {% if siteId == site.id %}selected{% endif %}>
                        {{ site.nom }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    {% if sortieList is empty %}
        <p>Pas de sortie</p>
    {% else %}

        <table>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Durée</th>
                <th>Limite inscription</th>
                <th>Max participant</th>
                <th>Info</th>
                <th>État</th>
                <th>Inscrit</th>
            </tr>
            {% for sortie in sortieList %}
                <tr onclick="window.location.href = '{{ path('app_sortie_id', { 'id': sortie.id }) }}';">
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("H:i - d/m/y") }}</td>
                    <td>{{ sortie.duree|date("H:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("d/m/y") }}</td>
                    <td>{{ sortie.nbInscriptionMax }}</td>
                    <td  class="infos-sortie" title="{{ sortie.infosSortie }}">{{ sortie.infosSortie }}</td>
                    <td>{{ sortie.etat.value }}</td>
                    <td>
                        {% if app.user in sortie.participant %}
                            ✔
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}
{% endblock %}
