{% extends 'base.html.twig' %}

{% block body %}

    <div class="form participant-info">
        <h2>{{ sortie.nom }}</h2>
        <p>
            Organisateur:
            <a href="{{ path("app_profil_details",  {'id': sortie.organisateur.id }) }}">
                {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}
            </a>
        </p>


        <span>
        {{ sortie.dateHeureDebut|date("d/m/Y - H:i") }} ({{ sortie.etat.value }})<br>
        Durée : {{ sortie.duree|date("H:i") }}
    </span>
        <span>
        RDV : {{ sortie.lieu.nom }}<br><br>
        {{ sortie.lieu.rue }}<br>
        {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}
    </span><br>
        <span>
        {{ sortie.infosSortie }}<br><br>
        Inscription jusqu'au {{ sortie.dateLimiteInscription|date("d/m/Y à H:i") }}<br>
        Nombre de place : {{ sortie.nbInscriptionMax }}
    </span>
        <p>Participants : {{ nbParticipant }}</p>
        <div class="participants">
            {% for p in sortie.participant %}
                <a href="{{ path('app_profil_details', {'id': p.id }) }}" class="badge"
                   data-info="{{ p.nom }} - {{ p.email }}">
                    {{ p.nom }}
                </a>
            {% endfor %}
        </div>

        {% if is_granted('IS_AUTHENTICATED') and app.user.id != sortie.organisateur.id %}
            {% if etat ==  constant('App\\Enum\\EtatSortie::OUVERTE') and placeRestante %}
                <a href="{{ path('app_sortie_inscription', {'id' : sortie.id}) }}">
                    {% if not isRegistered %}
                        <button>S'inscrire à l'évènement</button>
                    {% else %}
                        <button>Se désinscrire de l'évènement</button>
                    {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        {% endif %}



        {% if app.user.id == sortie.organisateur.id or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_sortie_delete', {'id' : sortie.id}) }}">
                <button>Supprimer sortie</button>
            </a>
        {% endif %}

    </div>

{% endblock %}
