{% extends 'base.html.twig' %}
{% block title %}{{ group.getName() }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="form">
        <h2>{{ group.getName() }}</h2>

        <p>Fondateur du groupe:  <a href="{{ path('app_profil_details', {'id': group.getGroupFounder().getId()}) }}">{{ group.getGroupFounder().getNom() }}</a></p>

        <p>Sorties :</p>
        {% for s in group.getSortie() %}
            <a href="{{ path('app_sortie_id', {'id': s.getId()}) }}" >
                <p>{{ s.getNom() }}</p>
            </a>
        {% endfor %}
            <div class="gr-membre">
                <p>Membres :</p>
                {% for m in group.getParticipants() %}
                    <a href="{{ path('app_profil_details', {'id': m.getId()}) }}" class="badge">{{ m.getNom() }}</a>
                {% else %}
                    <em>Aucun membre</em>
                {% endfor %}
            </div>



        <button>Ajouter membre</button>
    </div>

{% endblock %}
