<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}M'ENIfestation{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{#    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 #}
{#        viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚑</text></svg>">#}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <h1 class="logo">M'ENIfestation</h1>
        <ul class="nav-links">

            <li><a href="{{path('app_test')}}">Accueil</a></li>

            {% if is_granted('IS_AUTHENTICATED') %}
                <li><a href="{{path('app_sortie_home')}}">Sorties</a></li>
                <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
                <li><a href="{{path('app_profil_details',{'id' :app.user.id}) }}">Mon profil</a></li>
            {% else %}
                <li><a href="{{path('app_login')}}">Se connecter</a></li>
                <li><a href="{{path('app_register')}}">S'inscrire</a></li>
            {% endif %}



        </ul>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <p>&copy; {{ "now"|date("Y") }} M'ENIfestation – Tous droits réservés</p>
</footer>
</body>
